{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>404</h1>
            </div>
            <h2>Oops! This Page Could Not Be Found</h2>
            <p>Sorry but the page you are looking for does not exist, have been removed, changed or is temporarily
                unavailable</p>
<form>
<input type="button" class="btn btn-primary" value="Go Back to Previous Page" onclick="history.back()">
</form>

            
        </div>
    </div>
</div>

{% endblock %}