{% extends 'base.html' %}
{% block content %}
<!-- <div class="has-bg-img bg-blend-multiply">
    <img src="static/page1.jpg" alt="clock" class="img-fluid d-none d-md-inline"> -->
<section class="container-fluid">
    <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere adipisci quidem, assumenda laudantium ducimus voluptas dolorum, pariatur quas, voluptates sit eveniet? Magni optio dicta, ad ea porro corrupti enim placeat.</p>
    </div>
</section>





<!-- </div> -->




{% endblock %}