{% extends 'base.html' %}
{% block content %}
<section class="vh-100" style="background-color: #e6ddde;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-lg" style="border-radius: 2rem;">
                    <div class="card-body p-5 text-left">
                        <form action="/users" method="POST">
                            <h3 class="mb-5">Sign in</h3>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" name="email" id="login-email"
                                    class="form-control form-control-lg" />

                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="password">Password</label>
                                <input type="password" name="password" id="login-password"
                                    class="form-control form-control-lg" />

                            </div>


                            <div class="form-check d-flex justify-content-start mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="remember-password" />
                                <label class="form-check-label" for="save-password"> Remember password </label>
                            </div>

                            <button class="btn btn-lg btn-block shadow-lg justify-content-center"
                                style="background-color:#a69698; border-radius: 1rem" type="submit">Login</button>


                        </form>
                        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{{register_user}}"
                                class="link-danger">Register</a></p>
                        <hr class="my-4">


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}